@{
    ViewBag.Title = "DataTables";
    ViewBag.Active = "DataTables";
}



<div class="container">
    
        <h2>jQuery DataTables</h2>
        <a href="http://datatables.net/">http://datatables.net/</a><br />
        <table id="dataTable" class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Company name</th>
                    <th>Address</th>
                    <th>Town</th>
                </tr>
            </thead>
            <tbody> 
            </tbody>
        </table>
    
</div>



